* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

/*------------  NAVBAR ------------ */
header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  width: 100%;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  transition: 0.5s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 200px;
}

header .navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header .navigation a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation a:hover {
  color: #c8fe93;
}

header.sticky .navigation a:hover {
  color: #000;
}
/* ------------ NAVBAR SLUT ------------ */

/*  ------------ CONTENT  ------------*/

.page-container {
  background-color: #c3d2f1;
  position: relative;
  display: block;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.content-wrap {
  position: static;
  overflow: hidden;
  min-height: auto;
  padding-bottom: ;
}

.project-hero-container {
  position: relative;
  width: 100%;
  height: 80vh;
  max-height: none;
  min-height: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.project-hero-img {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

/* INNEHÅLL */

.column {
  float: left;
  width: 50%;
  padding: 4em;
  padding-top: 10em;
  padding-right: 4em;
  padding-bottom: 10em;
}

.column-last {
  float: left;
  height: 20em;
  width: 50%;
  padding: 4em;
  padding-top: 6.5em;
  padding-right: 3em;
  padding-bottom: 4em;
}

.row {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #151515;
  font-size: 2.2em;
  line-height: 0.95;
  font-weight: 300;
}

p {
  max-width: 70ch;
  margin-bottom: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #151515;
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.1px;
}
strong {
  font-size: 14px;
}
section {
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}

section div {
  flex: auto;
  width: 600px;
  margin: 0.5vw;
}

section div img {
  width: 100%;
  height: auto;
}

.img-big {
  width: 100%;
}

.next-project h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #151515;
  font-size: 2.2em;
  line-height: 0.95;
  font-weight: 300;
  transition: 0.3s;
}

.next-project {
  padding-top: 8em;
  padding-bottom: 8em;
  margin-right: 32px;
  text-align: right;
}

.next-project a {
  text-decoration: none;
}

.next-project h3:hover {
  color: #15151594;
}

li {
  font-size: 14px;
  line-height: 2rem;
  color: #1c1c1c;
}

.fa-li {
  color: #c8fe93;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

a {
  color: #000;
  margin-left: 10px;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(0, 0, 0, 0.459);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  ------------ FOOTER ------------  */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 10px;
}

.footerlink {
  color: #000;
}

.footerlink:hover {
  color: #c3d2f1;
}

foot-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  height: 70px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

/* ------------ RESPONSIVT ------- */

/* ------------ header ipad ------- */
@media (max-width: 1040px) {
  .project-hero-container {
    position: static;
    display: block;
    width: 100%;
    height: fit-content;
    max-width: none;
    object-fit: cover;
  }
}

/* ------------ header mobile ------- */
@media (max-width: 450px) {
  .project-hero-container {
    position: static;
    display: block;
    width: 100%;
    height: fit-content;
    max-width: none;
    object-fit: cover;
  }

  .column {
    float: none;
    padding: 4em;
    padding-top: 6.5em;
    padding-right: 4em;
    padding-bottom: 4em;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  p {
    max-width: 333px;
    font-size: 12px;
    line-height: 1.7;
    font-weight: 400;
  }
}
