* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

/*------------  NAVBAR ------------ */
header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  width: 100%;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  transition: 0.5s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 200px;
}

header .navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header .navigation a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation a:hover {
  color: #c8fe93;
}

header.sticky .navigation a:hover {
  color: #000;
}
/* ------------ NAVBAR SLUT ------------ */

/* ------------ LANDING ------------*/
.MainContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 1%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #c3d2f1;
}

.TopContainer {
  height: 50%;
  min-height: 46.25%;
  overflow: hidden;
  margin: 24px;
}

.TopContainer h2 {
  font-family: "David Libre", serif;
  color: #fff;
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 400;
  margin-top: 1.5em;
  margin-left: 0.3em;
}

.BottomContainer {
  height: 46.25%;
  min-height: 46.25%;
  overflow: hidden;
  padding: 1%;
  margin: 0;
}

/* ------------ WORK ------- */
.container {
  padding-top: 8em;
  margin: 12px;
  background-color: #fff;
  padding-bottom: 9em;
}

.container h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 20px;
  margin-bottom: 12px;
  color: #151515;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  position: relative;
  flex: 1;
  max-width: 500px;
  min-width: 380px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
}

.one {
  background-image: url(../images/rudolf5.png);
}

.two {
  background-image: url(../images/wasteless.webp);
}

.three {
  background-image: url(../images/grå.svg);
}

.four {
  background-image: url(../images/grå.svg);
}

.five {
  background-image: url(../images/grå.svg);
}

.six {
  background-image: url(../images/grå.svg);
}

.image:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: transform 0.5s;
}

.more {
  position: absolute;
  background: #c8fe93;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  bottom: -100px;
  transition: 0.5s;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: ;
}

.read-more:hover {
  font-weight: 430;
  color: rgba(6, 6, 6, 0.701);
}

/*  ------------ FOOTER ------------  */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #000;
  background-color: #fff;
  color: #000;
  padding: 10px;
}

.footerlink {
  color: #000;
}

.footerlink:hover {
  color: #c3d2f1;
}

foot-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  height: 70px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

/* ------------ RESPONSIVT ------- */

/* ------------ header ipad pro ------- */
@media (max-width: 1024px) {
  .MainContainer {
    height: 100vh;
  }

  .TopContainer {
    height: 55%;
    margin-top: 3em;
  }
}

/* ------------ header ipad ------- */
@media (min-width: 625px) and (max-width: 1023px) {
  .TopContainer h2 {
    font-size: 4em;
    margin-top: 2em;
  }
  #work {
    padding-bottom: 2em;
  }
  .container {
    padding-top: 5em;
    padding-bottom: 8em;
  }
}

/* ------------ header mobile ------- */
@media (min-width: 300px) and (max-width: 625px) {
  .TopContainer h2 {
    font-size: 2.5em;
    margin-top: 3em;
  }
  #work {
    padding-bottom: 2em;
  }
  .container {
    padding-top: 5em;
    padding-bottom: 8em;
  }
}

/* ------------ cards ipad pro ------- */
@media (max-width: 1024px) {
}

/* ------------ cards ipad ------- */
@media (min-width: 625px) and (max-width: 1023px) {
}

/* ------------ cards mobile ------- */
@media (min-width: 300px) and (max-width: 625px) {
  .imgage {
    min-width: 351px;
  }
}
